@import 'tailwindcss';
@import '@nuxt/ui';
@import './utility.css';

@theme static {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  /* ############## Fonts families ############## */

  /* The IRANSansX font is loaded via the @nuxt/fonts module
   and there is no need to manually define @font-face */
  --font-iran-sans-x: 'IRANSansXFaNum';
}

@layer base {
  /* Creates a new stacking context. */
  #root,
  #__next,
  #__nuxt {
    /*
    * This isolates the element's children so their z-order is contained within this context,
    * preventing interference with elements outside. Useful for precise layering control
    * in complex components (e.g., modals, dropdowns, tooltips).
    */
    isolation: isolate;
  }

  html,
  :host {
    /* Prevents browsers from auto-inflating font size on mobile devices */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;

    /* YOLO hanging punctuation for that typographic finesse 🖋️ */
    hanging-punctuation: first allow-end last;
  }

  body {
    /* Scale font details (strokes, shapes) based on font size for clearer text */
    font-optical-sizing: auto;

    /* Adjust spacing between letters automatically for better readability */
    font-kerning: normal;

    /* Control how character connections (ligatures) are shown:
     keep common & contextual ones, disable fancy/rare ones */
    font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures contextual;

    /* Render text faster (may reduce precision in kerning/ligatures) */
    text-rendering: optimizespeed;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  :where(p, li, dd) {
    text-wrap: pretty;
    overflow-wrap: break-word;
  }

  :where(label) {
    display: block;
  }

  /* Disable smooth scrolling for users who prefer reduced motion */
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  /* Enable smooth scroll and view transitions for users without motion preference */
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;

      interpolate-size: allow-keywords;
    }
  }
}
