/* ############## flex box ############## */
@theme {
  /* justify-content */
  --justify-start: flex-start;
  --justify-end: flex-end;
  --justify-center: center;
  --justify-between: space-between;
  --justify-around: space-around;
  --justify-evenly: space-evenly;
  --justify-stretch: stretch;

  /* align items */
  --items-center: center;
  --items-start: start;
  --items-end: end;
  --items-stretch: stretch;
  --items-baseline: baseline;
}

@utility fr-* {
  display: flex;
  flex-direction: row;
  justify-content: --value(--justify-*);
  align-items: --modifier(--items-*, [*]);
}

@utility frr-* {
  display: flex;
  flex-direction: row-reverse;
  justify-content: --value(--justify-*);
  align-items: --modifier(--items-*, [*]);
}

@utility fc-* {
  display: flex;
  flex-direction: column;
  justify-content: --value(--justify-*);
  align-items: --modifier(--items-*, [*]);
}

@utility fcr-* {
  display: flex;
  flex-direction: column-reverse;
  justify-content: --value(--justify-*);
  align-items: --modifier(--items-*, [*]);
}
